<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Saveetha Engineering College</title>
</head>

<body>
    <div class="jumbotron">
        <div class="p-5 text-center bg-image" style="
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK-3iM5cARVJ1SFV_PSQT_nBgShVZIBMtyCw&usqp=CAU');
      height: 150px;background-repeat: no-repeat;background-size: cover;">
        <div class="container">
        <h1 class="display-8 text-center" style=color:white font-style=helvetica>WORKSHOP ON IOT</h1>
        </div>
    </div>
    <div class="p-5 text-center bg-image" style="
      background-image: url('https://home.sophos.com/en-us/medialibrary/Microsites/Home/SecurityCenter/ai-article-pic10.jpg');
      height: 600px;background-repeat: no-repeat;background-size: cover;">

        <div class="row">
            <div class="col-12" style="">
                <h1 class="text-right display-4"style=color:White>One day Workshop on internet of thing</h1>
            </div>
        </div>

        <div class="row display-5 " style=font-size:x-large>
            <div class="col-12" style="padding-left: 34%; padding-top: 2%;">
                <p class="text-right "style=color:White>The Internet of things (IoT) describes the network of physical objects “things” that are embedded with sensors, software, and other technologies for the purpose of connecting and exchanging data with other devices and systems over the Internet.</p>
            </div>
        </div>

        <div class="row display-1">
            <div class="col-12" style="padding-top: 3%;">
                <p class="text-right "style=color:White>Last Date:25.02.2021</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right" style="padding-right: 23%; padding-top: 2%;">
                <a href="/register/"class="btn btn-primary btn-lg" role="button" aria-pressed="true">Register Now</a>
            </div>
        </div> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>